__pycache__
.idea
.DS_Store

*.ipynb
.ipynb_checkpoints

test
precomputed
figs
images
chkpts
ddpm_torch/.cache/*
ddpm_torch/chkpt-dir/*
ddpm_torch/chkpt-dir/non-robust/cifar10/*.info
ddpm_torch/adv-chkpt-dir/*
ddpm_torch/cifar-10-batches-py/*
ddpm_torch/cifar-10-batches-py/readme.html
images-adv/*
cifar-10-batches-py/*
configs/cifar10_32.json
.cache/wandb/artifacts/obj/md5/5f/e6bfb87d95cb5fc8c1d7a2872349f6
data/celeba/*
data/.cache/wandb/*
data/.cache/wandb/wandb/*
models/adv-ddpm/*
data/cifar-10-batches-py/*
models/celeb_a/celeba-0.3-2024-08-20T114341110230/exp_2024-08-20T114341927046.info
data/cifar-10-python.tar.gz
models/celeb_a/celeba-0.3-2024-08-20T114341110230/*

*.png
*.zip
*.tar
*.pt
assets/banner.webp
assets/celeba_denoise.mp4
assets/celebahq_denoise.mp4
assets/cifar10_denoise.webp
assets/thumbnails/celeba_denoise.webp
assets/thumbnails/celebahq_denoise.webp
assets/thumbnails/toy/gaussian8_gen.jpg
assets/thumbnails/toy/gaussian8_train.webp
assets/thumbnails/toy/gaussian8_true.jpg
assets/thumbnails/toy/gaussian25_gen.jpg
assets/thumbnails/toy/gaussian25_train.webp
assets/thumbnails/toy/gaussian25_true.jpg
assets/thumbnails/toy/swissroll_gen.jpg
assets/thumbnails/toy/swissroll_train.webp
assets/thumbnails/toy/swissroll_true.jpg
assets/toy/gaussian8_gen.jpg
assets/toy/gaussian8_train_small.webp
assets/toy/gaussian8_train.webp
assets/toy/gaussian8_true.jpg
assets/toy/gaussian25_gen.jpg
assets/toy/gaussian25_train.webp
assets/toy/gaussian25_true.jpg
assets/toy/swissroll_gen.jpg
assets/toy/swissroll_train.webp
assets/toy/swissroll_true.jpg
models/*
